<a href="https://colab.research.google.com/github/r-u-5k/study-dev/blob/master/bigdata/4-2-type1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 작업형1 모의문제2
- data : members.csv

## 문제4
- 주어진 데이터에서 자료형(type)이 object인 컬럼은 삭제하고, 결측치는 0으로 대체한다.
- 행 단위로 합한 다음 그 값이 3000보다 큰 값의 데이터 수를 구하시오
('age', 'f1', 'f2', 'f5', 'views'의 각 행별 합)

In [6]:
# your code
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/main/p1/members.csv")
cols = df.columns.tolist()
for col in cols:
    if df[col].dtype == 'object':
        df = df.drop(col, axis=1)
df = df.fillna(0)
df = df.T
print(sum(df.sum() > 3000))

73

In [7]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/main/p1/members.csv")
cols = df.select_dtypes(include='object').columns
df = df.drop(cols, axis=1)
df = df.fillna(0)
df = df.T
print(sum(df.sum() > 3000))

73

## 문제5
- 데이터에서 IQR을 활용해 views 컬럼의 이상치를 찾고, 이상치 데이터의 수를 구하시오

In [11]:
# your code
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/main/p1/members.csv")
q3 = df['views'].quantile(.75)
q1 = df['views'].quantile(.25)
iqr = q3 - q1
low = q1 - 1.5 * iqr
high = q3 + 1.5 * iqr
print(sum((df['views'] < low) | (df['views'] > high)))

4

## 문제6
- 'age' 컬럼의 이상치(소수점 나이와 음수나이, 0포함)를 제거하고
- 제거 전 후의 views 컬럼 표준편차를 더하시오 (최종 결과 값은 소수 둘째자리까지 출력, 셋째자리에서 반올림)

In [19]:
# your code
import pandas as pd
import numpy as np
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/main/p1/members.csv")
before = df['views'].std()
# print(df.shape)
cond = (df['age'] <= 0) | (df['age'] != np.floor(df['age']))
df = df[~cond]
after = df['views'].std()
# print(df.shape)
print(round(before + after, 2))

8420.69

# 풀이

## 문제4
- 주어진 데이터에서 자료형(type)이 object인 컬럼은 삭제하고, 결측치는 0으로 대체한다.
- 행 단위로 합한 다음 그 값이 3000보다 큰 값의 데이터 수를 구하시오
('age', 'f1', 'f2', 'f5', 'views'의 각 행별 합)

In [ ]:
# 풀이
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/main/p1/members.csv")

# cols = df.select_dtypes(include='object').columns
# cols
# df = df.drop(cols, axis=1)
# df.head()

cols = df.select_dtypes(exclude='object').columns
cols
df = df[cols]
df.head()

df = df.fillna(0)
df = df.T
df.head()
print(sum(df.sum() > 3000))

73

## 문제5
- 데이터에서 IQR을 활용해 views 컬럼의 이상치를 찾고, 이상치 데이터의 수를 구하시오

In [ ]:
# 풀이
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/main/p1/members.csv")

q3 = df['views'].quantile(.75)
q1 = df['views'].quantile(.25)

IQR = q3 - q1
# print(IQR)

line1 = q1 - 1.5 * IQR
line2 = q3 + 1.5 * IQR


print(sum(df['views'] < line1) + sum(df['views'] > line2))

4

## 문제6
- 'age' 컬럼의 이상치(소수점 나이와 음수나이, 0포함)를 제거하고
- 제거 전 후의 views 컬럼 표준편차를 더하시오 (최종 결과 값은 소수 둘째자리까지 출력, 셋째자리에서 반올림)

In [ ]:
# 풀이
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/main/p1/members.csv")

r1 = df['views'].std()

cond = df['age'] <= 0
# print(df.shape)
df = df[~cond]
# print(df.shape)

# print(df.shape)
cond = df['age'] == round(df['age'],0)
df = df[cond]
# print(df.shape)

r2 = df['views'].std()

print(round(r1 + r2, 2))

8420.69